<!DOCTYPE html>
<html>
	<head>
		<title>Dojo Survey</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div id="container">
			<h1>Please fill out the following survey questions:</h1>
			<!-- action sets when the form is submitted, where it will be sent too!  !-->
			<!--Also sets form to post !-->
			<!-- ALL FORMS MUST HAVE AN ACTION AND A METHOD !-->
			<form action="/survey" method="post">
				<div id="name">
					Your name:<input type="text" name="name" class="input_name">
				</div>
				<div id="select1">
					Dojo location:<select name="locations">
										<option>Chicago</option>
										<option>San Francisco</option>
										<option>Seattle</option>
										<option>Los Angeles</option>
								</select>
				</div>
				<div id="select2">
					Favorite language:<select name="languages">
											<option>Python</option>
											<option>Ruby</option>
											<option>JavaScript</option>
											<option>Java</option>
											<option>C#</option>
									</select>
				</div>
							<label>
								Comments (optional):
							</label>
							<textarea cols="50" rows="10" name="comments">Enter comments here...</textarea>
							<div id="submit">
							<input type="submit" name="Submit" class="submit">
							</div>
			</form>
		</div>
	</body>
</html>